# venv / python cache
**/ve/
**/.venv/
**/__pycache__/
*.pyc

# env
.env

# ide
.vscode/
.idea/

# db
*.db

# Python / venv
**/ve/
**/__pycache__/
**/*.pyc

# Local databases
**/*.db

# Uploaded media
**/media/images/*

# Zip archives (не обязаны, но лучше не пушить)
*.zip